@font-face {
    font-family: intro;
    src: url("./fonts/intro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


.cid-rzSubsXLCL button.navbar-toggler .hamburger span {
    height: 3px;
    background-color: #a47f;
}



@media (max-width: 991px) {
    
.cid-rA34E6LnB7 .mbr-figure, .cid-rA34E6LnB7 img {
    max-height: max-content;

}

}


/*.cid-rzSubsXLCL button.navbar-toggler .hamburger span:nth-child(1)*/
.text-white {
    color: rgba(255, 255, 255, 1.);
}

.text-pink {
    color: #a47f;
}

.text-pink:hover,
.cid-rzSubsXLCL .nav-link:hover {
    color: #c87ca3 !important;
}

.logo {
    height: 56px;
}

.navbar-dropdown .navbar-logo {
    margin: 20px;
}

.navbar-custom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.navbar-contacts {
}

.fav-vb2-white::before,
.fav-in2-white::before,
.fav-fb2-white::before,
.fav-fb-white::before,
.fav-in-white::before,
.fav-viber::before,
.fav-in::before,
.fav-fb::before {
    display: inline-block;
    content: " ";
    height: 30px;
    width: 30px;
    margin-left: 30px;
    margin-right: 10px;
}

.fav-vb2-white::before {
    background: url(./images/fav-vb2-white.png);
    background-size: 100%;
    margin-right: 1rem;
    margin-left: 0;
    vertical-align: middle;
}

.fav-in2-white::before {
    background: url(./images/fav-in2-white.png);
    background-size: 100%;
    margin-right: 1rem;
    margin-left: 0;
    vertical-align: middle;
}

.fav-fb2-white::before {
    background: url(./images/fav-fb2-white.png) no-repeat;
    background-size: 100%;
    margin-right: 1rem;
    margin-left: 0;
    width: 16px;
    vertical-align: middle;
}

.fav-fb-white::before {
    background: url(./images/fav-fb-white.png)  no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    margin: 1rem;
}

.fav-in-white::before {
    background: url(./images/fav-in-white.png)  no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100%;
    margin: 1rem;
}

.fav-viber::before {
    background: url(./images/viber.png);
}

.fav-in::before {
    background: url(./images/in.png);
}

.fav-fb::before {
    background: url(./images/fb.png);
    height: 28px;
    width: 28px;
}

.text-contact {
    font-size: 24px;
    vertical-align: middle;
    line-height: 30px;
}

.nav-item {
    margin: 10px auto;
}

.text-nav-custom {
    font-size: 20px;
    font-family: "Intro";
    color: #a47f;
    margin: 10px auto;
    text-align: center;
}

.text-pink-big {
    font-size: 48px;
    font-family: "Intro";
    color: rgb(169, 79, 116);
}

.text-pink-mid {
    font-size: 20px;
    font-family: "Calibri";
    color: rgb(169, 79, 116);
}

.top-60p {
    top: 60% !important;
}

.btn-participate {
    font-size: 28px;
    color: hsva(335, 53%, 66%, 1.);
    line-height: 1.25;
}

.btn-participate,
.btn-participate:active {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 0 !important;
    color: rgb(169, 79, 116) !important;
}

.btn-participate:hover,
.btn-participate:focus,
.btn-participate.focus,
.btn-participate.active {
    color: white !important;
    background-color: rgba(169, 79, 116, 0.5) !important;
    border: 0 !important;
   
}


.about-me {

    /*font-weight: bold;*/
    text-indent: 1.5em;    /* Отступ первой строки */
    text-align: justify;    /* Выравнивание по ширине */
    padding-left: 4em;
}

.about-me-title {
    margin-top: 50px;
}

.correction-prepared-for-you {
    font-size: 37.5px;
    font-family: "Intro";
    color: white;
    line-height: 1.28;
    text-shadow: 0px 6px 8px rgba(40, 40, 39, 0.1);
    text-align: center;
}

.cid-rA3iL7ltMW .correction-prepared-for-you-items {
  font-size: 40px;
  font-family: "Calibri";
  color: rgb(169, 79, 116);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  cursor: auto;
}
/*
.correction-prepared-for-you--hover-effect:hover {
    transition: background-color .2s ease-in-out;
    background-color: rgba(200, 124, 163, .5);
    -webkit-border-radius: 0;
    border-radius: 0;
}*/

.cid-rzSzBBUp5h .feedback-big-text {
    font-size: 28px;
    font-family: "Intro";
    color: hsva(335, 53%, 66%, 1.);
    text-align: center;
}

.cid-rA346WK9bM .text-about-marafon {
    font-family: "Calibri";
    color: hsva(335, 53%, 66%, 1.);
    font-style: italic;
    background-color: white;
    text-align: left;
    padding: 1.5em;
}

.bgr-color-light-pink {
    background-color: rgb(238, 238, 221)dd7;
}

.cid-rA346WK9bM .text-about-marafon-author {
    font-weight: bold;
    text-align: right;
}

.footer-contacts-big {
    font-size: 36px;
    font-family: "Intro";
}

.footer-contacts {
    font-size: 24px;
    font-family: "Calibri";    /*font-weight: bold;*/
    line-height: 30px;
    margin-bottom: 2rem;
    display: block;  /*text-align: left;*/
    vertical-align: middle;
}

.cid-rA34kXvjCP .footer-lower hr {
    display: block;
    height: 2px;
    width: 35%;
    margin: 1rem auto;
    border-top: 2px solid white;
    opacity: .5;
}

.cid-rA34kXvjCP .mbr-text {
    color: white;
}

.footer-social-big {
    display: inline-block;
    text-align: center;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
}

.mbr-form .input-group-btn button[type="submit"] {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(255, 255, 255, 1.) !important;
    border: 0;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    background-color: rgb(255, 255, 255) !important;
    color: hsva(335, 53%, 66%, 1.) !important;
}


.mbr-slider .carousel-control {
    z-index: 15;
}
@media only screen and (max-width:1450px) {
    .cid-rzSubsXLCL .navbar-toggleable-sm .navbar-collapse {
        padding-right: 2rem;
    }

    .cid-rzSubsXLCL button.navbar-toggler .hamburger span {
        height: 3px;
        background-color: #a47f;
    }

    /*.cid-rzSubsXLCL button.navbar-toggler .hamburger span:nth-child(1)*/
    .text-pink {
        color: #a47f;
    }

    .text-pink:hover,
    .cid-rzSubsXLCL .nav-link:hover {
        color: #c7af !important;
    }

    .logo {
        height: 56px;
    }

    .navbar-dropdown .navbar-logo {
        margin: 10px;
    }

    .navbar-custom {
        padding-right: 2rem;
    }

    .fav-viber::before,
    .fav-in::before,
    .fav-fb::before {
        display: inline-block;
        content: " ";
        height: 30px;
        width: 30px;
        margin-left: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .fav-viber::before {
        background: url(./images/viber.png);
    }

    .fav-in::before {
        background: url(./images/in.png);
    }

    .fav-fb::before {
        background: url(./images/fb.png);
        height: 28px;
        width: 28px;
    }

    .text-contact {
        font-size: 16px;
        font-family: "Calibri";
        color: #a94f74;
        font-weight: bold;
        line-height: 30px;
        margin-right: 10px;
    }

    .nav-item {
        margin: 10px auto;
    }

    .text-nav-custom {
        font-size: 14px;
        font-family: "Intro";
        color: #a47f;
        margin: 10px auto !important;
        text-align: center;
    }

    .text-pink-big {
        font-size: 32px;
        font-family: "Intro";
        color: rgb(169, 79, 116);
    }

    .text-pink-mid {
        font-size: 16px;
        font-family: "Calibri";
        color: rgb(169, 79, 116);
    }

    .top-60p {
        top: 60% !important;
    }


    .btn-participate {
        font-size: 24px;
        color: rgb(169, 79, 116);
        line-height: 1.25;
    }

    .btn-participate,
    .btn-participate:active {
        background-color: rgba(255, 255, 255, 0.5) !important;
        border: 0 !important;
        color: rgb(169, 79, 116) !important;
    }

    .btn-participate:hover,
    .btn-participate:focus,
    .btn-participate.focus,
    .btn-participate.active {
        color: white !important;
        background-color: rgba(169, 79, 116, 0.5) !important;
        border: 0 !important;
       
    }

    .about-me {

        /*font-weight: bold;*/
        text-indent: 1.5em;        /* Отступ первой строки */
        text-align: justify;        /* Выравнивание по ширине */
        padding-left: 3em;
        padding-right: 1em;
    }

    .about-me-title {
        margin-top: 50px;
    }

    .correction-prepared-for-you {
        font-size: 32px;
        font-family: "Intro";
        color: white;
        line-height: 1.28;
        text-shadow: 0px 6px 8px rgba(40, 40, 39, 0.1);
        text-align: center;
    }

  

    .cid-rzSzBBUp5h .feedback-big-text {
        font-size: 20px;
        font-family: "Intro";
        color: rgb(169, 79, 116);
        text-align: center;
    }

    .cid-rA346WK9bM .text-about-marafon {
        font-family: "Calibri";
        color: hsva(335, 53%, 66%, 1.);
        font-style: italic;
        background-color: white;
        text-align: left;
        padding: 1.5em;
    }

    .bgr-color-light-pink {
        background-color: #eddf;
    }

    .cid-rA346WK9bM .text-about-marafon-author {
        font-weight: bold;
        text-align: right;
    }

}

.cid-rzSubsXLCL .nav-item a.text-left {
    font-family: "Calibri";
    font-size: 18px;
    justify-content: left;
}

.cid-rzSubsXLCL .dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu ul {
    list-style-type: disc;
    color: rgb(169, 79, 116);
}

.dropdown-menu ul li a {
    padding-left: 0;
}

.cid-rzSubsXLCL .nav-link:hover,
.cid-rzSubsXLCL .dropdown-item:hover {
    color: #c7af !important;
}

@media only screen and (max-width:1200px) {
    .cid-rzSubsXLCL .menu-logo .navbar-brand {
        margin-left: 2rem;
        margin-right: 0.5rem;
    }

    .cid-rzSubsXLCL .navbar {
        padding-bottom: 0;
    }

}

@media only screen and (max-width:1125px) {
    .cid-rzSubsXLCL .menu-logo .navbar-brand {
        margin-left: 1rem;
        margin-right: 0.25rem;
    }

    .cid-rzSubsXLCL .navbar-toggleable-sm .navbar-collapse {
        padding-right: 1rem;
    }

    .text-pink-big {
        font-size: 18px;
    }

}

@media only screen and (max-width:1040px) {
    .navbar-contacts {
        display: none;
    }

}

@media only screen and (max-width:540px) {
    .cid-rzSubsXLCL .menu-logo .navbar-brand {
        margin-left: 1rem;
        margin-right: 0.25rem;
    }

    .cid-rzSubsXLCL .navbar.navbar-short .navbar-logo a img {
        height: 1.5rem !important;
    }

    .cid-rzSubsXLCL img {
        height: 2rem !important;
    }

    .footer-contacts {
        font-size: 20px;
    }

}


/*--------------------------------------------*/

.cid-rCwz8YXjKD .container {
    
    margin-top: 10%;

}


#carousel-example-multi > div > div > div {
    padding-left: 0;    
    padding-right: 0; 

}


.header2-14 {
    background-position: 50% 0%;}

.first-screen_text-size {
    
  font-size: 50px;
  font-family: "Intro";
  color: rgb(169, 79, 116);
  line-height: 1.167;
  text-align: center;
  font-weight: 500;
}

.first-screen_text-size_second-line {
  font-size: 50px;
  font-family: "Intro";
  color: rgb(169, 79, 116);
  line-height: 1.167;
  text-align: center;
  font-weight: 500;
}

.cid-rzSuZT9ydo .mbr-figure {

    padding-left: 0;

}


.about-me_marafon {
text-align: right;
font-size: 42px;
  font-family: "Calibri";
  color: rgb(169, 79, 116);
  font-weight: bold;
  line-height: 1.8;
  font-weight: 500;
  padding-right: 2rem;
  padding-left: 2rem;
}

.about-me_marafon-title,  {
   font-size: 58px;
  font-family: "Intro";
  color: rgb(169, 79, 116);
  line-height: 1.286;  
  font-weight: 500; 
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width:1400px) {

    .first-screen_text-size_second-line, .first-screen_text-size {
        font-size: 40px;
    }
    
    .about-me_marafon {
        font-size: 36px;
    }
    .about-me_marafon-title {
        font-size: 42px;
    }


}
@media only screen and (max-width:1050px) {
    
    .about-me_marafon {
        font-size: 28px;
    }
    .about-me_marafon-title {
        font-size: 36px;
    }

}

@media (max-width: 991px) {
    .cid-rzSubsXLCL .dropdown .dropdown-menu .dropdown-item {
    white-space: normal;
}

.about-me_marafon {

    text-align: center;}

    .cid-rzSubsXLCL .navbar-toggleable-sm .navbar-collapse {
        width: 100vw;
    }

}


@media only screen and (max-width:540px) {

        .first-screen_text-size_second-line, .first-screen_text-size {
        font-size: 28px;
    }

    .about-me_marafon-title {
      padding-top: 30px;
      padding-bottom: 30px;
}


.cid-rzSubsXLCL .dropdown .dropdown-menu .dropdown-item {
    white-space: normal;
    padding: 0 0 0 0 !important; 
}

}

@media only screen and (max-width:330px) {

        .first-screen_text-size_second-line, .first-screen_text-size {
        font-size: 22px;        
    }
        .about-me_marafon {
        font-size: 16px;
    }
    .about-me_marafon-title {
        font-size: 18px;
        padding-top: 10px;
      padding-bottom: 10px;
    }

}


.navbar-dropdown-open .navbar-dropdown {
    bottom: 0;
}

nav.navbar.navbar-expand.beta-menu.navbar-dropdown.align-items-center.navbar-fixed-top.navbar-toggleable-sm.opened {
    bottom: 0;
}


/*.cid-rzSubsXLCL .navbar-collapse.collapsing, .cid-rzSubsXLCL .navbar-collapse.show {
    

}

.navbar-dropdown-open  .navbar-dropdown .navbar-toggleable-sm {
    height: 100vh;
    bottom: 0;
}
    */


.marafon-main-title, .cost-of-participation_title {
  font-size: 58px;
  font-family: "Intro";
  color: white;
  font-weight: normal;
  
  line-height: 1.286;
}


.marafon-text-description {
  font-size: 40px;
  font-family: "Calibri";
  color: white;
  font-weight: bold;
  line-height: 1.4;
}


section.cid-rCwz8YfsfXjKD {
 background-color: rgb(169, 79, 116);
 color: #FFF;
 
 align-items: center;
 -webkit-align-items: start;
 padding-top: 4em;
 padding-bottom: 4em;
}


section.cid-rCwz8YXjK.mbr-fullscreen {
      background-color: #FFF;

}

.what-will-we-do > p {
  text-indent: 1em;
}

.what-will-we-do {
  font-size: 40px;
  font-family: "Calibri";
  color: rgb(169, 79, 116);
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  
  
}

.what-will-we-do p:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
} 

.marafon-theme_title-text {
  font-size: 40px;
  font-family: "Intro";
  color: #FFF;
  line-height: 1.4;
}

.marafon-for-you-if_title-text{    
font-size: 58px;
font-family: "calibri";
font-weight: bold;
  color: #FFF;
  line-height: 1.4;
}

.after-28-days_img1::before {
    background: url(images/icons/Yin-Yang-two-hearts.png);
}

.after-28-days_img2::before {
    background: url(images/icons/compass.png);
}

.after-28-days_img3::before {
    background: url(images/icons/yoga-woman.png);
}

.after-28-days_img4::before {
    background: url(images/icons/3stars.png);
}

.after-28-days_text::before {
    content: " ";
    height: 3em;
    width: 3em;
    /*background: url(images/icons/compass.png);*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -0.5em;
    margin-left: -4em;
    display: block;
    position: absolute;

}

.after-28-days-title {
    
  font-size: 75px;
  font-family: "Calibri";
  color: rgb(169, 79, 116);
  font-weight: bold;
  /*font-weight: normal;*/
  line-height: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;

}



.after-28-days_text {
    
 font-size: 40px;
  font-family: "Calibri";
  font-weight: bold;
  color: rgb(169, 79, 116);
  line-height: 1;
  text-align: left;
  margin-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}




.marafon-theme_text, .marafon-for-you-if_text {
 font-size: 40px;
 font-family: "Calibri";
  color: rgb(249, 249, 249);
  font-weight: bold;
  line-height: 1.8;
  text-align: left;
  padding-top: 1em;
  padding-left: 3em;    
}






section {
    counter-reset: section;   
}

.marafon-theme_text::before {
    margin-top: 0.2em;
    margin-left: -2em;
    display: block;
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    counter-increment: section;
    content: counter(section);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    border-color: white;
    border-width: .15em;
    border-style: solid;
    text-align: center;
    line-height: 1.15em;
}

.cid-rCwz8YXjKaadas .mbr-fullscreen {
    text-indent: 0;
}

section.cid-rCwz8YXjKaadas {
    background-color: #FFF;
}


.cid-rCwz8YXjKaadas .how-where-title{
  font-size: 70px;
  font-family: "Intro";
  color: rgb(169, 79, 116);
  line-height: 1em;
  text-align: center;
  font-weight: normal;
  padding-top: 1em;
  padding-bottom: 1em;
}
.cid-rCwz8YXjKaadas .how-where-title:not(:first-child) {
padding-top: 2em;
}

.cid-rCwz8YXjKaadas .how-where_text {
  font-size: 40px;
  font-family: "Calibri";
  font-weight: bold;
  color: rgb(169, 79, 116);
  line-height: 1.063;
  text-align: left;

}

.cid-rCwz8YXjKaadas .how-where_text:last-child {
padding-bottom: 2em;

}
.cid-rCwz8YXjKaadas .how-where_numbers {
  font-size: 48px;
    
}


.cid-rCwz8YXjKaadas .how-where_dates {
  font-size: 40px;
  font-family: "Intro"; 
  color: rgb(169, 79, 116);  
  line-height: 1em;
  text-align: center;
  font-weight: normal;
   
}
.cid-rCwz8YXjKaadas .how-where_dates:last-child {
padding-bottom: 1.5em;

}


.cid-rCwz8YfsfXsadajKD{
    
  background-color: rgb(169, 79, 116);

}

.marafon-after-finishing-title {
font-size: 50px;
  font-family: "Intro";
  color: #FFF;
  line-height: 1.167;
  text-align: center;
    padding-top: 1em;
  padding-bottom: 1em;
      margin-bottom: 0;
}


@media only screen and (max-width:1050px) {


.marafon-main-title {
  font-size: 50px;
  line-height: 1.1;
}

.marafon-text-description {
  font-size: 36px;
  line-height: 1.2;
}

.what-will-we-do > p {
  text-indent: 1em;
}

.what-will-we-do {
  font-size: 36px;
  line-height: 1.4;
}

.what-will-we-do p:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
}

.marafon-theme_title-text {
  font-size: 36px;
  line-height: 1.4;
}

.marafon-for-you-if_title-text{    
font-size: 52px;
}

.marafon-theme_text, .marafon-for-you-if_text {
  font-size: 36px;
  line-height: 1.8;
  padding-top: 1em;
  padding-left: 2em;
}
 .after-28-days_text {
  font-size: 36px;
}

.marafon-theme_text::before {
  margin-top: 0.2em;
  margin-left: -2em;
  width: 1.4em;
  height: 1.4em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-width: .15em;
  line-height: 1.15em;
}

.cid-rCwz8YXjKaadas .how-where-title {
  font-size: 60px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cid-rCwz8YXjKaadas .how-where-title:not(:first-child) {
  padding-top: 2em;
}

.cid-rCwz8YXjKaadas .how-where_text {
  font-size: 36px;
}

.cid-rCwz8YXjKaadas .how-where_text:last-child {
  padding-bottom: 2em;
}

.cid-rCwz8YXjKaadas .how-where_numbers {
  font-size: 40px;
}

.cid-rCwz8YXjKaadas .how-where_dates {
  font-size: 36px;
  line-height: 1em;
}

.cid-rCwz8YXjKaadas .how-where_dates:last-child {
  padding-bottom: 1.5em;
}

.marafon-after-finishing-title {
  font-size: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
}



}

@media (max-width: 991px) {




.what-will-we-do > p {
  text-indent: 1em;
}

.what-will-we-do {
  font-size: 30px;
  line-height: 1.4;
}

.what-will-we-do p:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
}

.marafon-theme_title-text {
  font-size: 30px;
  line-height: 1.4;
}

.marafon-for-you-if_title-text{    
font-size: 46px;

}

.marafon-theme_text, .marafon-for-you-if_text, .after-28-days_text {
  font-size: 30px;

}

.marafon-theme_text::before {
  margin-top: 0.2em;
  margin-left: -2em;
  width: 1.4em;
  height: 1.4em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-width: .15em;
  line-height: 1.15em;
}

.cid-rCwz8YXjKaadas .how-where-title {
  font-size: 48px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cid-rCwz8YXjKaadas .how-where-title:not(:first-child) {
  padding-top: 2em;
}

.cid-rCwz8YXjKaadas .how-where_text {
  font-size: 30px;
}

.cid-rCwz8YXjKaadas .how-where_text:last-child {
  padding-bottom: 2em;
}

.cid-rCwz8YXjKaadas .how-where_numbers {
  font-size: 36px;
}

.cid-rCwz8YXjKaadas .how-where_dates {
  font-size: 30px;
  line-height: 1em;
}

.cid-rCwz8YXjKaadas .how-where_dates:last-child {
  padding-bottom: 1.5em;
}

.marafon-after-finishing-title {
  font-size: 32px;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*--- --- ---*/
.cid-rA3iL7ltMW .correction-prepared-for-you-items {
  font-size: 36px;
  }

.after-28-days-title {
 font-size: 60px;
 }


}


@media (max-width: 768px) {

section.cid-rCwz8YXjKD div.container div > a  {
    font-size: 20px !important;
}

.marafon-main-title {
  font-size: 32px;
  line-height: 1.1;
}

.marafon-text-description {
  font-size: 30px;
  line-height: 1.2;
}


.what-will-we-do > p {
  text-indent: 1em;
}

.what-will-we-do {
  font-size: 28px;
  line-height: 1.4;
}

.what-will-we-do p:first-of-type {
  padding-top: 1em;
  padding-bottom: 1em;
}

.marafon-theme_title-text {
  font-size: 26px;
  line-height: 1.4;
  font-weight: normal;
}

.marafon-for-you-if_title-text{    
font-size: 36px;

}

.marafon-theme_text, .marafon-for-you-if_text, .after-28-days_text  {
  font-size: 22px;
  line-height: 1.2;

}

.marafon-theme_text::before {
  margin-top: 0.2em;
  margin-left: -2em;
  width: 1.4em;
  height: 1.4em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-width: .15em;
  line-height: 1.15em;
}

.cid-rCwz8YXjKaadas .how-where-title {
  font-size: 30px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cid-rCwz8YXjKaadas .how-where-title:not(:first-child) {
  padding-top: 2em;
}

.cid-rCwz8YXjKaadas .how-where_text {
  font-size: 22px;
}

.cid-rCwz8YXjKaadas .how-where_text:last-child {
  padding-bottom: 2em;
}

.cid-rCwz8YXjKaadas .how-where_numbers {
  font-size: 24px;
}

.cid-rCwz8YXjKaadas .how-where_dates {
  font-size: 24px;
  line-height: 1em;
}

.cid-rCwz8YXjKaadas .how-where_dates:last-child {
  padding-bottom: 1.5em;
}

.marafon-after-finishing-title {
  font-size: 28px;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center!important;
}

/*--- ---  ---*/

.cid-rA3iL7ltMW .correction-prepared-for-you-items {
  font-size: 32px;
  }
.after-28-days-title {
 font-size: 54px;
 }

}


@media only screen and (max-width:540px) {

.marafon-main-title {
  font-size: 32px;
  line-height: 1.1;
}

.marafon-text-description {
  font-size: 20px;
  line-height: 1.2;
}

.what-will-we-do {
  font-size: 24px;
  line-height: 1.4;
}

/*--- ---  ---*/

.cid-rA3iL7ltMW .correction-prepared-for-you-items {
  font-size: 30px;
  }

  .after-28-days_text {
  font-size: 22px;
  line-height: 1.2;
  margin-left: 1.5em;
    padding-top: 1em;
  padding-left: 2em;
  
}

  .after-28-days_text::before {
    margin-top: 0.5em;
      margin-left: -3.5em;
  }

   .after-28-days-title {
    font-size: 48px;
    }

}

@media only screen and (max-width:330px) {

 section.cid-rCwz8YXjKD div.container div > a {
    font-size: 16px !important;
}

.marafon-main-title {
  font-size: 24px;
  line-height: 1.1;
}

.marafon-text-description {
  font-size: 20px;
  line-height: 1.2;
}

.marafon-after-finishing-title {
  font-size: 22px;
  justify-content: center!important;
}

.what-will-we-do {
  font-size: 18px;
  line-height: 1.4;
}

.marafon-theme_title-text {
  font-size: 24px;
  line-height: 1.4;
  font-weight: normal;
}

.marafon-for-you-if_title-text{    
font-size: 30px;

}

.marafon-theme_text, .marafon-for-you-if_text, .after-28-days_text {
  font-size: 18px;
  line-height: 1.2;
  padding-top: 1em;
  padding-left: 2em;
}


.cid-rCwz8YXjKaadas .how-where-title {
  font-size: 24px;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cid-rCwz8YXjKaadas .how-where-title:not(:first-child) {
  padding-top: 2em;
}

.cid-rCwz8YXjKaadas .how-where_text {
  font-size: 18px;
}


.cid-rCwz8YXjKaadas .how-where_numbers {
  font-size: 20px;
}

.cid-rCwz8YXjKaadas .how-where_dates {
  font-size: 20px;
  line-height: 1em;
}


.marafon-after-finishing-title {
  font-size: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center!important;
}

/*--- --- --*/


.cid-rA3iL7ltMW .correction-prepared-for-you-items {
  font-size: 18px;
  }

.after-28-days-title {
 font-size: 42px;
 }

}


/*------- --------  -------*/




.cid-rA3iL7ltMW.correction-prepared-for-you {
    background: #FFF;
}

.mbr-figure img, .card-img img {
    width: auto;
}


.cid-rA3iL7ltMW .card-img {
    min-height: 200px;
}


/*
.marafon-theme_title-text {
 font-size: 58px;
 font-family: "Calibri";
  color: rgb(249, 249, 249);
  font-weight: bold;
  line-height: 1.8;
  padding-top: 1em;
  padding-left: 3em;    
}
*/



.marafon-for-you-if_text {
/* font-size: 40px;
 font-family: "Calibri";
  color: rgb(249, 249, 249);
  font-weight: bold;
  line-height: 1.8;
  text-align: left;
  padding-top: 1em;
  padding-left: 3em;   */ 
}



.marafon-for-you-if_text::before {
    content: " ";
    height: 2em;
    width: 2em;
    background: url(images/icons/check-mark-in-a-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0.2em;
    margin-left: -2em;
    display: block;
    position: absolute;

}

.cost-of-participation_title {


}

.cost-of-participation_package-box {
background: #FFF;
padding: 1em;
margin: 1em;

}

.cost-of-participation_packet-name {


}

.cost-of-participation_packet-name {


}


